In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#importing training data from the csv file
train_data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Training Data.csv')
# obtaining a numeric representation of string columns
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,0,0,0,0,0,0,3,13,0
1,2,7574516,40,10,0,0,0,1,1,1,9,13,0
2,3,3991815,66,4,1,0,0,2,2,2,4,10,0
3,4,6256451,41,2,0,0,1,1,3,3,2,12,1
4,5,5768871,47,11,0,0,0,3,4,4,3,14,1

In [3]:
#importing model 
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
#droping output field and creating input and outputs for training data 
xtrain=train_data.drop("risk_flag",axis=1)
ytrain=train_data["risk_flag"]
#initializing classifier
clf = RandomForestClassifier(n_estimators=10)
#fitting the model
clf = clf.fit(xtrain, ytrain)

In [4]:
#importing prediction data
test_data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Test Data.csv')
# obtaining a numeric representation of string columns
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]
test_data["married"]=pd.factorize(test_data.married)[0]
test_data["house_ownership"]=pd.factorize(test_data.house_ownership)[0]
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]
test_data.head()

,id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years
0,1,7393090,59,19,0,0,0,0,0,0,4,13
1,2,1215004,25,5,0,0,0,1,1,1,5,10
2,3,8901342,50,12,0,0,0,2,2,1,9,14
3,4,1944421,49,9,1,0,1,3,3,1,3,12
4,5,13429,25,18,0,0,1,4,4,0,13,11

In [5]:
#predicting the data fromn test data
predictions = clf.predict(test_data)
#writing the data to prediction.csv
prediction = pd.DataFrame(predictions, columns=['risk_flag']).to_csv('../DATASETS/Hackathons/GH hackathon(april 16)/prediction.csv')