In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt

In [17]:
#importing training data from the csv file
train_data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Training Data.csv')
# obtaining a numeric representation of string columns
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]
# train_data=train_data.drop("city",axis=1)
# train_data=train_data.drop("state",axis=1)
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,0,0,0,0,0,0,3,13,0
1,2,7574516,40,10,0,0,0,1,1,1,9,13,0
2,3,3991815,66,4,1,0,0,2,2,2,4,10,0
3,4,6256451,41,2,0,0,1,1,3,3,2,12,1
4,5,5768871,47,11,0,0,0,3,4,4,3,14,1

In [165]:
data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Training Data.csv')
#drop 
#profession
out = set(data['age'].values.tolist())
for i in out:
    accepted= data[(data['age']==i )&(data['risk_flag']==0)]
    rejected= data[(data['age']==i )&(data['risk_flag']==1)]
    temp =[]
    temp.append(accepted.shape[0])
    temp.append(rejected.shape[0])
    print(temp,",")

[3607, 598] ,
[3660, 770] ,
[3786, 536] ,
[3695, 631] ,
[3959, 584] ,
[3437, 719] ,
[4477, 720] ,
[3299, 602] ,
[3540, 569] ,
[3879, 589] ,
[3726, 531] ,
[3336, 498] ,
[4202, 719] ,
[4060, 354] ,
[4131, 513] ,
[2989, 454] ,
[3627, 526] ,
[3303, 490] ,
[3383, 417] ,
[3863, 370] ,
[4257, 570] ,
[3615, 519] ,
[3770, 436] ,
[3234, 388] ,
[4217, 589] ,
[3084, 543] ,
[3867, 616] ,
[4389, 578] ,
[3760, 443] ,
[4074, 550] ,
[3012, 385] ,
[2827, 370] ,
[3989, 501] ,
[4125, 660] ,
[3981, 582] ,
[3829, 515] ,
[3863, 531] ,
[3905, 463] ,
[3907, 591] ,
[3972, 532] ,
[3672, 563] ,
[3847, 464] ,
[3431, 511] ,
[3758, 374] ,
[3457, 512] ,
[4355, 737] ,
[3588, 407] ,
[4321, 451] ,
[4120, 497] ,
[3770, 481] ,
[3691, 458] ,
[3964, 570] ,
[3152, 417] ,
[3525, 429] ,
[3434, 395] ,
[3919, 666] ,
[3457, 459] ,
[3915, 540] ,
[3992, 513] ,

In [146]:
import numpy as np
import pandas as pd
data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Training Data.csv')
accepted= data[(data['current_house_years']==11 )&(data['risk_flag']==0)]
rejected= data[(data['current_house_years']==11 )&(data['risk_flag']==1)]
print(accepted.shape[0],",",rejected.shape[0])
# print(rejected.shape[0])

45390 , 6483

In [168]:
from __future__ import division
from math import log
def entropy(pi):
    total = 0
    for p in pi:
        p = p / sum(pi)
        if p != 0:
            total += p * log(p, 2)
        else:
            total += 0
    total *= -1
    return total
def gain(d, a):
    total = 0
    for v in a:
        total += sum(v) / sum(d) * entropy(v)

    gain = entropy(d) - total
    return gain
risk_flag = [221004, 30996] # accepted, rejected

married = [
    [23092 , 2636],  # married
    [197912, 28360]  # single
]
house_rented = [
    [202777 , 29121],  # rented
    [11758, 1160],  # owned
    [6469, 715]  # norent_noown
]
car_ownership = [
    [ 67565  , 8435 ],  # yes
    [ 153439 , 22561]  # no
]
income_5000000 = [
    [ 110593 , 15449 ],  # >=50 00 000
    [ 110411 , 15547]  # no
]
income_500000= [
    [ 210100 , 29215 ],  # >=50 00 000
    [ 10904 , 1781]  # no
]
current_house_years = [
    [ 42592 , 6082 ],  # ==10
    [ 45390 , 6483 ],  # ==11
    [ 45487 , 6304 ],  # ==12
    [ 44477 , 6182 ],  # ==13 
    [ 43058 , 5945 ]  # ==14
]
age = [
[3607, 598] ,
[3660, 770] ,
[3786, 536] ,
[3695, 631] ,
[3959, 584] ,
[3437, 719] ,
[4477, 720] ,
[3299, 602] ,
[3540, 569] ,
[3879, 589] ,
[3726, 531] ,
[3336, 498] ,
[4202, 719] ,
[4060, 354] ,
[4131, 513] ,
[2989, 454] ,
[3627, 526] ,
[3303, 490] ,
[3383, 417] ,
[3863, 370] ,
[4257, 570] ,
[3615, 519] ,
[3770, 436] ,
[3234, 388] ,
[4217, 589] ,
[3084, 543] ,
[3867, 616] ,
[4389, 578] ,
[3760, 443] ,
[4074, 550] ,
[3012, 385] ,
[2827, 370] ,
[3989, 501] ,
[4125, 660] ,
[3981, 582] ,
[3829, 515] ,
[3863, 531] ,
[3905, 463] ,
[3907, 591] ,
[3972, 532] ,
[3672, 563] ,
[3847, 464] ,
[3431, 511] ,
[3758, 374] ,
[3457, 512] ,
[4355, 737] ,
[3588, 407] ,
[4321, 451] ,
[4120, 497] ,
[3770, 481] ,
[3691, 458] ,
[3964, 570] ,
[3152, 417] ,
[3525, 429] ,
[3434, 395] ,
[3919, 666] ,
[3457, 459] ,
[3915, 540] ,
[3992, 513] ]
print("married = " , gain(risk_flag, married))
print("house_rented = ",gain(risk_flag, house_rented))
print("car_ownership = ",gain(risk_flag, car_ownership))
# print("income_5000000 = ",gain(risk_flag, income_5000000))
print("income_500000 = ",gain(risk_flag, income_500000))
# print("current_house_years = ",gain(risk_flag, current_house_years))

print("age = ",gain(risk_flag, age))

married =  0.00033582246407781735
house_rented =  0.0005640098080920142
car_ownership =  0.00042382210578073565
income_500000 =  0.00010349438299317448
age =  0.0022114825933586824

In [ ]:


def gini(rows):
    """Calculate the Gini Impurity for a list of rows.

    There are a few different ways to do this, I thought this one was
    the most concise. See:
    https://en.wikipedia.org/wiki/Decision_tree_learning#Gini_impurity
    """
    counts = class_counts(rows)
    impurity = 1
    for lbl in counts:
        prob_of_lbl = counts[lbl] / float(len(rows))
        impurity -= prob_of_lbl**2
    return impurity

def info_gain(left, right, current_uncertainty):
    """Information Gain.

    The uncertainty of the starting node, minus the weighted impurity of
    two child nodes.
    """
    p = float(len(left)) / (len(left) + len(right))
    return current_uncertainty - p * gini(left) - (1 - p) * gini(right)

In [3]:
#importing model 
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
#droping output field and creating input and outputs for training data 
xtrain=train_data.drop("risk_flag",axis=1)
ytrain=train_data["risk_flag"]
#initializing decision tree
clf = RandomForestClassifier(n_estimators=10)
# clf = tree.DecisionTreeClassifier()
#fitting the model
clf = clf.fit(xtrain, ytrain)

In [4]:
#importing prediction data
test_data = pd.read_csv('../DATASETS/Hackathons/GH hackathon(april 16)/Test Data.csv')
# obtaining a numeric representation of string columns
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]
test_data["married"]=pd.factorize(test_data.married)[0]
test_data["house_ownership"]=pd.factorize(test_data.house_ownership)[0]
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]
test_data=test_data.drop("city",axis=1)
test_data=test_data.drop("state",axis=1)
test_data.head()

,id,income,age,experience,married,house_ownership,car_ownership,profession,current_job_years,current_house_years
0,1,7393090,59,19,0,0,0,0,4,13
1,2,1215004,25,5,0,0,0,1,5,10
2,3,8901342,50,12,0,0,0,2,9,14
3,4,1944421,49,9,1,0,1,3,3,12
4,5,13429,25,18,0,0,1,4,13,11

In [5]:
#predicting the data fromn test data
predictions = clf.predict(test_data)
#writing the data to prediction.csv
prediction = pd.DataFrame(predictions, columns=['risk_flag']).to_csv('../DATASETS/Hackathons/GH hackathon(april 16)/prediction.csv')